@model BaseViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<style>
      .gavno{
        width: 100%;
        height: auto;
        min-height: 100px;
        }
        
     .gavno2{
        width: 500px;
        }
        
     .gavno3{
        display: flex;
        align-items: center;
        flex-direction: column;
        }   
</style>

<div class="text-center">
    <h1 class="display-4"> Расстояние от адресов до адреса </h1>
    @using (Html.BeginForm("Result", "Home", FormMethod.Post))
    {
        <div class="gavno3">
            <p>Введите список адресов:</p>
            @Html.TextAreaFor(model => model.Addresses, new {@class = "form-control gavno"})
            <br/>
        </div>
        <div class="gavno3">
            <p>Введите адрес для которого необходимо посчитать растояние:</p>
            @Html.TextBoxFor(model => model.Address, new {@class = "form-control gavno2"})
        </div>
        <br/>
        
        <button class="btn btn-primary">Найти</button>
    }
</div>