@model BaseViewModel;

@{
    ViewData["Title"] = "Расстояние от адресов до адреса";
}

<style>
      .textArea-two{
        width: 100%;
        height: auto;
        min-height: 100px;
        }
        
     .textBox-one{
        width: 500px;
        }
        
     .div-forAddress{
        display: flex;
        align-items: center;
        flex-direction: column;
        }   
</style>

<div class="text-center">
    <h1 class="display-4"> Расстояние от адресов до адреса </h1>
    @using (Html.BeginForm("Result", "Home", FormMethod.Post))
    {
        <div class="div-forAddress">
            <p>Введите список адресов:</p>
            @Html.TextAreaFor(model => model.Addresses, new {@class = "form-control textArea-two"})
            <br/>
        </div>
        <div class="div-forAddress">
            <p>Введите адрес для которого необходимо посчитать растояние:</p>
            @Html.TextBoxFor(model => model.Address, new {@class = "form-control textBox-one"})
        </div>
        <br/>
        
        <button class="btn btn-primary">Найти</button>
    }
</div>